*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f1f1f1;

}
.offcanvas-menu-wrapper {
    display: none;
  }
  .main-menu ul li {
    list-style-type: none;
    display: block;
  }
  
  .main-menu ul li a {
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
    padding: 20px 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .main-menu ul li a:hover {
    color: #2cbdb8;
  }
  .main-menu h1{
   font-size: 30px;
   font-family: initial;
   font-weight: bolder;
   
  }
  .main-menu h1 a{
   color: black;
   text-decoration: unset;
  }
  .logo a {
    color: inherit;
    font-family: initial;
    font-size: 32px;
    text-decoration: none;
  }
  .logo a:hover{
    transition: .2s;
    text-decoration: unset;
  }
  #navbar {
    background-color: rgb(255, 255, 255)!important;
    color: rgb(13, 26, 38);
    position: fixed;
    top: 0;
    height: 60px;
    line-height: 60px;
    width: 100vw;
    z-index: 10;
    border-bottom: .1px solid lightblue;
  
  }
  
  .nav-wrapper {
    margin: auto;
    text-align: center;
    width: 88%;
  
  }
  .logo {
    float: left;
    margin-left: 28px;
    font-size: 1.5em;
    height: 60px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  #menu{
    float: right;
  }
  #menu ul {
    float: right;
    list-style: none;
    margin-top: -2px;
    text-align: right;
    transition: transform 0.5s ease-out;
    -webkit-transition: transform 0.5s ease-out;
  } 
  #menu li {
    display: inline-block;
  }
  
  #menu li a {
    color: rgb(13, 26, 38);
    display: block;
    font-size: 0.7em;
    height: 50px;
    letter-spacing: 1px;
    margin: 0 20px;
    padding: 0 4px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
  }
  
  #menu li a:hover {
    color: rgb(28, 121, 184);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
  }
  
  #menu li a:before, #navbar li a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -1px;
    background: rgb(13, 26, 38);
  }
  
  #menu li a:before {
    left: 0;
    transition: 0.5s;
  }
  
  #menu li a:after {
    background: rgb(13, 26, 38);
    right: 0;
  }
  
  #menu li a:hover:before {
    background: rgb(13, 26, 38);
    width: 100%;
    transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
  }
.carousel{
    margin-top: 40px;
}
.carousel-item img{
    width: 100%;
    height: 100vh;
}
.about{
    margin-top: 100px;
}
.about-image{
    position: relative;
}
.about-image img    {
    width: 100%;
    height: 70%;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: .9;
}
.about-text h1{
    font-size: 20;
    font-family: 'Times New Roman', Times, serif;
    border-bottom-style: solid;
    border-bottom-color: orange;
    width: fit-content;
}
.about-text p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(112, 118, 125);
}
.site-hr{
    width: 90%;
    /* transform: translate( 5%, 0%); */
    color: orange;
}
.products{
    margin-top: 40px;
    height: 200vh;
}
.products h1{
    font-family: 'Times New Roman', Times, serif;
    border-bottom-style: solid;
    border-bottom-color: orange; 
    text-align: center;
    width: fit-content;
}
.products-images{
    padding-top: 50px;
    text-align: center;
}
.products-images img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}
.image-text{
    padding-top: 20px;
}
.image-text h6{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(4, 4, 105);
    font-style: inherit;
}
.all-products{
    margin-top: 100px;
}
.all-products a{
    text-decoration: none;
    color: rgb(4, 4, 105);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 30px;
}




















@media screen and (max-width: 1102px) {
    .hamburger,.hidden-head{
        display: block;
      }
      .head-right ul, .head-center{
        display: none;
      }
      .head-left ul li,button{
        display: none;
      }
}

@media screen and (max-width: 767px) {
    .about-text {
      padding-top: 40px;
    }
  }
 
  
  @media(max-width: 800px) {
    .menuIcon {
      cursor: pointer;
      display: block;
      position: fixed;
      right: 15px;
      top: 20px;
      height: 23px;
      width: 27px;
      z-index: 12;
    }
    .nav-wrapper ul{
      display: none;
    }
  
    .icon-bars {
      background: rgb(13, 26, 38);
      position: absolute;
      left: 1px;
      top: 45%;
      height: 2px;
      width: 20px;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    } 
  
    .icon-bars::before {
      background: rgb(13, 26, 38);
      content: '';
      position: absolute;
      left: 0;
      top: -8px;
      height: 2px;
      width: 20px;
      -webkit-transition: 0.3s width 0.4s;
      transition: 0.3s width 0.4s;
    }
  
    .icon-bars::after {
      margin-top: 0px;
      background: rgb(13, 26, 38);
      content: '';
      position: absolute;
      left: 0;
      bottom: -8px;
      height: 2px;
      width: 20px;
      -webkit-transition: 0.3s width 0.4s;
      transition: 0.3s width 0.4s;
    }
  
    .icon-bars.overlay {
      background: rgb(97, 114, 129);
      background: rgb(183, 199, 211);
      width: 20px;
      animation: middleBar 3s infinite 0.5s;
      -webkit-animation: middleBar 3s infinite 0.5s;
    } @keyframes middleBar {
        0% {width: 0px}
        50% {width: 20px}
        100% {width: 0px}
      } @-webkit-keyframes middleBar {
          0% {width: 0px}
          50% {width: 20px}
          100% {width: 0px}
        }
  
    .icon-bars.overlay::before {
      background: rgb(97, 114, 129);
      background: rgb(183, 199, 211);
      width: 10px;
      animation: topBar 3s infinite 0.2s;
      -webkit-animation: topBar 3s infinite 0s;
    } @keyframes topBar {
        0% {width: 0px}
        50% {width: 10px}
        100% {width: 0px}
      } @-webkit-keyframes topBar {
          0% {width: 0px}
          50% {width: 10px}
          100% {width: 0px}
        }
  
    .icon-bars.overlay::after {
      background: rgb(97, 114, 129);
      background: rgb(183, 199, 211);
      width: 15px;
      animation: bottomBar 3s infinite 1s;
      -webkit-animation: bottomBar 3s infinite 1s;
    } @keyframes bottomBar {
        0% {width: 0px}
        50% {width: 15px}
        100% {width: 0px}
      } @-webkit-keyframes bottomBar {
          0% {width: 0px}
          50% {width: 15px}
          100% {width: 0px}
        }
  
    .menuIcon.toggle .icon-bars {
      top: 5px;
      transform: translate3d(0, 5px, 0) rotate(135deg);
      transition-delay: 0.1s;
      transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  
    .menuIcon.toggle .icon-bars::before {
      top: 0;
      transition-delay: 0.1s;
      opacity: 0;
    }
  
    .menuIcon.toggle .icon-bars::after {
      top: 10px;
      transform: translate3d(0, -10px, 0) rotate(-270deg);
      transition-delay: 0.1s;
      transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  
    .menuIcon.toggle .icon-bars.overlay {
      width: 20px;
      opacity: 0;
      -webkit-transition: all 0s ease 0s;
      transition: all 0s ease 0s;
    }
  }
  @media only screen and (max-width: 991px) {
    .offcanvas-menu-overlay {
      position: fixed;
      left: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.7);
      z-index: 98;
      height: 100%;
      width: 100%;
      visibility: hidden;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
    }
    .offcanvas-menu-overlay.active {
      visibility: visible;
    }
    .offcanvas-menu-wrapper {
      position: fixed;
      left: -300px;
      top: 0;
      width: 300px;
      z-index: 20000;
      background: #ffffff;
      text-align: center;
      overflow-y: auto;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      padding: 50px 30px 30px 30px;
      display: block;
    }
    .offcanvas-menu-wrapper.show-offcanvas-menu-wrapper {
      left: 0;
      opacity: 1;
      visibility: visible;
    }
    .offcanvas-menu-wrapper .canvas-close {
      font-size: 22px;
      width: 30px;
      height: 30px;
      border: 1px solid #19191a;
      border-radius: 50%;
      text-align: center;
      line-height: 30px;
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;
    }
    
    .offcanvas-menu-wrapper .main-menu {
      text-align: left;
    }
    .offcanvas-menu-wrapper .main-menu ul li {
      list-style: none;
      border-bottom: 1px solid #e5e5e5;
    }
    .offcanvas-menu-wrapper .main-menu ul li:last-child {
      border-bottom: none;
    }
    .offcanvas-menu-wrapper .main-menu ul li a {
      font-size: 14px;
      color: #19191a;
      font-weight: 500;
      text-transform: uppercase;
      display: block;
      padding: 6px 0;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
    }
    .offcanvas-menu-wrapper .main-menu ul li a:hover {
      color: #2cbdb8;
    }  
}