*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f1f1f1;

}
header{
    width: 100%;
    height: 70px;
}
nav{
    background-color: #fff;
    overflow: hidden;
    top: 0; 
    width: 100%; 
    position: fixed;
    z-index: 100;
    transition: all .5s ease-in-out;
}
  .head-right{
    width: 33%;
    float: left;
    padding-top: 12px;
  }
  .head-right ul li{
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    font-size: 14px;
}
.head-right a{
    text-decoration: none;
    color: #000;
    font-family: 'Courier New', Courier, monospace;
    transition: all .5s ease;
    font-size: 16px;
    font-weight: bold;
}
.head-right a:hover{
    color: chocolate;
}
.head-center{
    width: 33%;
    float: left;
    text-align: center;
    padding-top: 16px;
}
.hidden-head{
  width: 150px;
  position: relative;
  top: 50%; left: 50%;
  transform: translate(-50%,10%);
  display: none;
  padding-top: 5px;
}
.hidden-head  h4{
  color: #000;
  float: right;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}
.head-center-inside{
    width: 150px;
    position: relative;
    top: 50%; left: 50%;
    transform: translate(-50%,10%);
}

.head-center-inside h4{
    color: #000;
    float: right;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.head-left{
    width: 30%;
    float: left;
    padding-top: 8px;
  }
.head-left ul li{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    color: #000;
    font-size: 16px;
    float: right;
 }
 .head-left i{
    font-size: 20px;
 }
 .hamburger{
   width: 3%;
   float: right;
   padding-top: 8px;
   display: none;
 }
 .fa-bars{
   float: right;
   margin: 10px;
   font-size: 30px;
   cursor: pointer;
   color: #000;
 }
.toggle-button{
  width: 100%;
  height: 270px;
  background-color: #f1f1f1;
  position: relative;
  z-index: 111  ;
  display: none;
}
.toggle-button ul li{
  list-style-type: none;
  color: darkblue;
  padding: 5px;
  cursor: pointer;
  font-size: 14px;
  font-family: sans-serif;  
}
.toggle-button a{
    text-decoration: none;
    color: darkblue;
    font-family: 'Courier New', Courier, monospace;
    transition: all .5s ease;
    font-size: 16px;
    font-weight: bold;
}
.toggle-button ul a:hover{
  margin: 5px;
  color: chocolate;
}
.toggle-button hr{
  height: 1px;
}
.carousel{
    position: absolute;
}
.carousel-item img{
    width: 100%;
    height: 100vh;
}
.about{
    margin-top: 100px;
}
.about-image{
    position: relative;
}
.about-image img    {
    width: 100%;
    height: 70%;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: .9;
}
.about-text h1{
    font-size: 20;
    font-family: 'Times New Roman', Times, serif;
    border-bottom-style: solid;
    border-bottom-color: orange;
    width: fit-content;
}
.about-text p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(112, 118, 125);
}
.site-hr{
    width: 90%;
    transform: translate( 5%, 5%);
    color: orange;
}
.products{
    margin-top: 40px;
}
.products h1{
    font-family: 'Times New Roman', Times, serif;
    /* border-bottom-style: solid;
    border-bottom-color: orange; */
    text-align: center;
}
.products-images{
    padding-top: 50px;
    text-align: center;
}
.products-images img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;

}
.image-text{
    padding-top: 20px;
}
.image-text h6{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(4, 4, 105);
    font-style: inherit;
}
.products center a{
    text-decoration: none;
    color: rgb(4, 4, 105);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 310px;
}




















@media screen and (max-width: 1102px) {
    .hamburger,.hidden-head{
        display: block;
      }
      .head-right ul, .head-center{
        display: none;
      }
      .head-left ul li,button{
        display: none;
      }
}

@media screen and (max-width: 767px) {
    .about-text {
      padding-top: 40px;
    }
    .hidden-head h4{
        padding-left: 30px;
        font-size: 20px;
        /* margin-left: 200px!important; */
    }
  }
  @media screen and (max-width: 467px) {
  .nav-mobile img{
    width: 80%;
    height: 40%;
    padding: 20px; 
  }
}